<div class="sub-footer">
  <div class="fb-page" data-href="https://www.facebook.com/haotientaiwan/" data-tabs="timeline" data-height="180" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/haotientaiwan/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/haotientaiwan/">臺灣皓天牛樟芝</a></blockquote></div>
  <a class="contact-us-cta" href="/contact">聯絡我們</a>
</div>
<footer class="footer hide-temp">
	<div class="container">
		<div class="col-md-9">
			<div class="footer-info">
				<p><span>地址</span>台東縣台東市正氣北路215巷29弄9號</p>
				<p><span>電話</span>0955-518-304(董事長特助)</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="copy-right">
				2016 皓天生技版權所有
			</div>
		</div>
	</div>
</footer>
