<footer class="footer hide-temp">
	<div class="container">
		<div class="col-md-9">
			<div class="footer-info">
				<p><span>地址</span>台東縣台東市正氣北路215巷29弄9號</p>
				<p><span>電話</span>0955-518-304(董事長特助)</p>
			</div>
		</div>
		<div class="col-md-3">
			<div class="copy-right">
				2016 皓天生技版權所有
			</div>
		</div>
	</div>
</footer>
