---
title: '關於皓天 | 皓天生技 - 台灣極品牛樟芝'
---
<div class="page-content">
	<h1 class="page-title">關於皓天</h1>
	<div class="hr"></div>
	<p>
		皓天天生技自今年已成立24年，就秉持牛樟芝產品的開發，造福人類的宗旨，每年均投入數千萬元用於研發牛樟芝新產品，歷經24多個寒暑，賴各界及投資人長期支持，也成為全球研發抗癌藥物研究的重要生技公司之一；我們不但要使全球癌症病患有更多的選擇，且有更好的選擇，任何的事業都有目的，而我們就是以提供更好的醫藥，造福更多病患為目標！而且，堅持原則，始終如一！
	</p>
</div>
