---
title: '聯絡皓天 | 皓天生技 - 台灣極品牛樟芝'
---

<div class="page-content">
	<h1 class="page-title">聯絡皓天</h1>
	<div class="hr"></div>
	<div class="contact-info">
		<div class="contact-info-item">
			<p class="title">電話</p><p>0955-518-304(董事長特助)</p>
		</div>
		<div class="contact-info-item">
			<p class="title">地址</p><p>台東縣台東市正氣北路215巷29弄9號</p>
		</div>
		<div class="contact-info-item">
			<p class="title">Email</p><p>mailto:gn02002894@gmail.com</p>
		</div>
		<div class="contact-info-item">
			<p class="title">微信ID</p><p>dopehao</p>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.3061058284534!2d121.13748911469669!3d22.754018632021896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346fb91178968bf1%3A0xb5ed0c336b01ce58!2zOTUw5Y-w5p2x57ij5Y-w5p2x5biC5q2j5rCj5YyX6LevMjE15be3MjnlvIQ56Jmf!5e0!3m2!1szh-TW!2stw!4v1468956066684" width="600" height="450" frameborder="0" style="border:0; width: 100% !important; margin-top: 40px;" allowfullscreen></iframe>
	</div>
</div>
