---
title: '樟芝在疾病與學術之論文 | 皓天生技 - 台灣極品牛樟芝'
---

<div class="page-content">
	<h1>樟芝在疾病與學術之論文</h1>
	<div class="hr"></div>
	<div>
	　<h4>1、牛樟芝輔助肝癌化學治療與改善抗藥性表現之藥理活性暨分子機制探討</h4>
		<p>南台科技大學生科技所94碩士論文</p>
	</div>

	<div>
		<h4>2、牛樟芝萃取物抑制微小膠質細胞發炎機制之探討</h4>
	  <p>臺北醫學大學醫學研究所94碩士論文</p>
	</div>

	<div>
		<h4>3、不同樟芝菌種發酵液在肝癌細胞之毒殺性比較</h4>
		<p>國立臺灣海洋大學食品科學所94碩士論文</p>
	</div>

	<div>
		<h4>4、以細胞培養模式評估固態培養牛樟芝菌絲體萃取物之抗肝癌生物活性及其機制</h4>
		<p>國立臺灣海洋大學食品科學系94碩士論文</p>
	</div>

	<div>
		<h4>5、樟芝的保肝功效與保肝有效成分純化之研究...</h4>
		<p>國立成功大學藥理學研究所94碩士論文</p>
	</div>

	<div>
		<h4>6、中草藥對肝炎之研究探討</h4>
		<p>實踐大學食品營養所93碩士論文</p>
	</div>




	</div>


</div>
