---
title: '研發團隊 | 皓天生技 - 台灣極品牛樟芝'
---
<div class="page-content">
	<h1 class="page-title">研發團隊 - 景天生物科技有限公司</h1>
	<div class="hr"></div>
	<p>
		皓天生技事業是個資本密集，專業技術，研發開創門檻極高的事業，彭董事長創業伊始，即深切體會到資金、人才的重要性，因此四處奔走，訪求人才，網羅至皓天，為生皓天技注入強力的堅實團隊皓天也因此擁有：
	</p>
	<p>
		<ul>
			<li>企業管理專才</li>
			<li>中國地區行銷專才</li>
			<li>中西藥理人才</li>
			<li>醫護人才</li>
			<li>食品營養學博士</li>
			<li>微生物生化博士</li>
			<li>天然藥物博士</li>
		</ul>
	</p>
</div>
