---
title: '生產規模 | 皓天生技 - 台灣極品牛樟芝'
---
<div class="page-content">
	<h1 class="page-title">生產規模</h1>
	<div class="hr"></div>
	<p class="margin-bottom-l">
		皓天生技目前在台灣開立近十家直營加盟經銷點，分別在台北、台中、嘉義、台東、高雄、…等地方，總部設立於台東，是台灣唯一一家專業牛樟芝生態農場，從造林、植菌、培育、萃取、研發、生產製造，是一條龍的作業系統，產品多樣化，有膠囊、手工皂、面膜、沐浴乳、精油…等牛樟芝系列產品，並獲得大眾喜愛。本公司產品均投保第一產物責任險2000萬元，產品經SGS檢驗合格，並擁有合法牛樟樹搬運移植證明書及牛樟樹合法砍伐證。
	</p>
	<p>
		推估國內及外銷市場產品需求量增加，牛樟芝子實體原物料將匱乏，且大陸現在正處於經濟發展快速成長的時代，因此本公司近期傾力推廣大陸市場經銷代理，例如福州、廈門、杭州…等地，積極成立上海生態農場，讓牛樟芝在國際藥用真菌市場發光發熱。
	</p>
</div>
